[IPC2]Practica2/Service References/ServiceReference1/API1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element name="carnet" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_evento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estudianteArray" final="#all">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventoArray" final="#all">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>